<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        Javaneiros 2014
    </div>
</footer>

<script src="/bootstrap/js/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>